
.footer__nav {
   background: #6B6B6B;
   padding: 15px 0;
}

.footer__under {
   background: #000;
   padding: 15px 0;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   color: #777777;
}

@media (max-width:1000px){
   .footer__nav{
      display: none;
   }
}