.layout {
background: #EBEBEB;
padding: 75px 0;
}
.container {
}
.layout__up {
   text-align: center;
}
.layout__up-title {
   margin-bottom: 11px;
   font-style: normal;
   font-weight: 400;
   font-size: 31px;
   line-height: 36px;
   color: #333333;
}
.layout__up-subtitle {
   margin-bottom: 10px;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: #333333;

}
.layout__img {
   width: 240px;
   margin: 0 auto;
}
.layout__discription {
   margin-top: -40px;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 21px;
   color: #777777;
}
.layout__under {
   display: flex;
   justify-content: space-between;
}
.layout__card {
   margin-right: 10px;
   margin-top: 40px;
   padding: 30px 50px;
   text-align: center;
   justify-content: center;
   max-width: 360px;
   background: #FFFFFF;
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
}

.layout__card:last-child{
margin-right: 0px;
}

.card__title {
   margin-bottom: 20px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   color: #333333;
}
.layout__card-img {
   width: 100px;
   margin: 0 auto;
}
.layout__card-text {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   color: #333333;
}
.layout__card-span {
   color:#FFFFFF;
   padding: 3px 5px;
   background: #3B79C3;
   border-radius: 2px;
}
.layut__card-span {
}
.layout__card-span2 {
   font-style: italic;
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
   color: #333333a1;
}

@media (max-width:900px){
   .layout__card {
      margin-top: 40px;
      padding: 15px 30px;
   }
   .card__title {
      margin-bottom: 10px;
      font-size: 17px;
      line-height: 22px;
   }
   .layout__card-text {
      font-size: 13px;
      line-height: 18px;
   }
}     

@media (max-width:750px){
   .layout__under{
      flex-wrap: wrap;
      justify-content: center;
   }
   .layout__card {
      margin-right: 0;
      margin-top: 40px;
      padding: 30px 50px;
   }
   .card__title {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 24px;
   }
   .layout__card-text {
      font-size: 14px;
      line-height: 20px;
   }
}